.tab {
    background-image: linear-gradient(rgba(163, 153, 153, 0.116), #0c0c0c);
    color: #abacaf6c !important;
    font-size: 18px;

    .user {
        text-transform: capitalize;
        color: #d61212;
    }

    .logo{
        width: 170px;
        height: 60px;
    }

    .tabs {
        float: right;
    }
    
    a {
        color: #abacaf9c !important;
        font-size: 18px;
    }
}


