table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid rgb(56, 55, 55);
    height: 210px;
    overflow-y: auto;
    display: block;
}

td,
th {
    text-align: left;
    height: 30px;
    width: 100rem;
}

td {
    font-size: 14px;
    font-weight: 300;
}

th {
    position: sticky;
    top: 0;
    background-color: #0C0C0C !important;
    font-family: 'Noto Sans', sans-serif !important;
    font-size: 11px;
}



tr:nth-child(0) {
    background-color: #252424 !important;
}

tr:nth-child(1)>th:nth-child(1) {
    padding-left: 5px;
}


tr:nth-child(1)>th:nth-child(3) {
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #161616;
}

tr:nth-child(even) {
    background-color: #0C0C0C;
}

td:nth-child(1) {
    padding-left: 5px;
}


td>a,
td>a:hover {
    text-decoration: unset;
    color: black;
}

.table-options {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: gray;
}