.home-page{
    color: #abacaf;
    font-family: 'Bebas Neue';

    .movie-card-container {
        margin-left: 40px;
        width: 95%;

    }

    .movie-card {
        position: relative;
        background-color: transparent;
        // opacity: 0;
        
        img {
            height: 170px;
            border-radius: 8px;


        }

        div {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
        }


        :hover {
            cursor: pointer;
        }
    }

    .movie-title {
        color: #37383b;
        font-size: 25px;
    }

    .movie-title:hover {
        color: #d61212;
    }

    .form-control {
        display: inline !important;
        width: 300px;
        background-color: transparent;
        height: 30px;
        transform: translate(0,-5px);
    }

    .radio {
        transform: translate(0,-5px);
    }
    
    .search-input {
        display: inline-block;
    }

    .search-header {
        display: inline;
    }

    .image {
        position: relative;
        width: 400px;
    }
    
    .image__img {
        display: block;
        width: 100%;
    }
    
    .image__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: #ffffff;
        font-family: 'Quicksand', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.25s;
    }
    
    .image__overlay--blur {
        backdrop-filter: blur(5px);
    }
    
    .image__overlay--primary {
        background: #e6e9e873;
        
    }
    
    .image__overlay>* {
        transform: translateY(20px);
        transition: transform 0.25s;
    }
    
    .image__overlay:hover {
        opacity: 1;
    }
    
    .image__overlay:hover>* {
        transform: translateY(0);
    }
    
    .image__title {
        font-size: 1.25em;
        font-weight: bolder;
        padding-left: 2px;
        color: #6d0f0f;
        text-transform: capitalize;
    }
    
    .image__description {
        font-size: 1.5em;
        margin-top: 0.25em;
    }
}