.home-page{
    color: #abacaf;
    font-family: 'Bebas Neue';

    .movie-card-container {
        margin-left: 40px;
        width: 95%;
    }

    .actor-card-container {
        margin-left: 40px;
        width: 95%;
        border-radius: 10px;
        height: 170px;
        background-color: #91949e07;
        min-width:300px;

        .actor-pic {
            margin: 0px;
            width: 140px;
            height: 170px;
            border-radius: 10px;
        }
        
        .actor-col {
            height: 170px;
        }
        .actor-dec-col {
            height: 170px;
            margin-right: 10px;
        }
    }


    .movie-card {
        position: relative;
        background-color: transparent;
        // opacity: 0;
        
        img {
            height: 170px;
            border-radius: 8px;
        }

        div {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
        }


        :hover {
            cursor: pointer;
        }
    }

    .movie-title {
        color: #37383b;
        font-size: 25px;
    }

    .movie-title:hover {
        color: #37383b;
    }

    .form-control {
        display: inline !important;
        width: 300px;
        background-color: transparent;
        height: 30px;
        transform: translate(0,-5px);
    }

    .radio {
        transform: translate(0,-5px);
    }
    
    .search-input {
        display: inline-block;
    }

    .search-header {
        display: inline;
    }

    .image {
        position: relative;
        width: 400px;
    }
    
    
}