.reviews-page {
    color: #abacaf;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    font-family: 'Bebas Neue';

    .description {
        margin-top: 40px;
        min-width: 300px;
    }

    .overall {
        font-family: 'Bebas Neue';
    }

    .pic {
        height: 240px;
        margin-bottom: 20px;
        width: 400px;
    }

    .rate-label {
        font-size: 28px;
    }

    .rate-container {
        margin-bottom: 1px;
    }

    .comment {
        background-color: transparent;
        // background-color: #abacaf;
        width: 80vw;
        height: 150px;
        font-family: 'Sans serif';
        color: #abacaf;
    }

    .all-reviews {
        height: 80vh;
        max-height: 80vh;
        width: 81vw;
        overflow-y: auto;

        .review-card {
            width: 80vw;
            background-color: transparent;
            border: 1px solid rgb(104, 98, 98);
            padding: 5px;
            min-height: 100px;
            font-family: Arial;
        }
    }

    .your-review {
        border: 1px solid #2a4252;
        padding: 5px;
        width: 80vw;
        height: 150px;
    }

    .actor-card {
        width: 100px;
        display: inline-block;
        margin-right: 5px;
        min-height: 140px;
        font-size: 10px;
        color: white;
        background-color: transparent;
        border: 1px solid white;
        font-family: sans-serif;
        text-transform: capitalize;
        margin-left: 10px;
        margin-top: 5px;
    }

    .pic-actor {
        width: 98px;
        height: 90px;
    }

    .pic-actor-container {
        height: 90px;
    }

    .movie-title {
        color: red;
    }
}